.container-fluid
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}